/* Start Sidebar Style */
main {
  min-height: 100vh;
  background-color: var(--back2-color);
  display: flex;
}
.sidebar {
  background-color: var(--back1-color);
  padding: 20px;
  width: 220px;
  height: 100%;
  position: fixed;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
  z-index: 20;
}

.sidebar h1.logo {
  margin: 0 auto 3rem;
  font-weight: 700;
  font-size: 2rem;
}
.sidebar li {
  padding: 10px 1rem;
  font-size: 14px;
  color: var(--header-color);
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}
.sidebar li.active,
.sidebar li:hover {
  background-color: var(--main-color);
  color: var(--back1-color);
}
.sidebar li span {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .sidebar {
    width: 55px;
    padding: 10px;
  }
  .sidebar li span {
    display: none;
  }
  .sidebar li {
    justify-content: center;
  }
  .sidebar h1.logo {
    font-size: 14px;
    margin-bottom: 2rem;
  }
  .sidebar h1.logo::before {
    width: 5px;
    height: 5px;
    border: 2px solid var(--back1-color);
    top: calc(100% - 2px);
  }
  .sidebar h1.logo::after {
    width: 30px;
    height: 2px;
    top: calc(100% + 1px);
  }
  .sidebar ul li a {
    justify-content: center;
  }
}
/* End Sidebar Style */

/* Start Header Style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--back2-color);
}
.header a.go-home {
  color: var(--main-color);
}
.header .icons {
  display: flex;
  align-items: center;
}
.header .icons .notification {
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.header .icons .notification i {
  color: var(--header-color);
}
.header .icons .notification:hover i {
  font-weight: 900;
}
.header .icons .notification::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  right: -2px;
  top: -2px;
}
.header .icons img {
  width: 35px;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* End Header Style */


.tox .tox-promotion,
.tox:not([dir="rtl"]) .tox-statusbar__branding {
  display: none;
}
/* End Rich TextArea Style */

/* Start DataTable Style */
#data-table_wrapper {
  border: 1px solid var(--lines-color);
  padding: 10px;
  border-radius: 10px;
  color: var(--header-color);
  background-color: var(--card-color);
}
table.dataTable.table-striped > tbody > tr.odd > * {
  background-color: var(--card-color);
  color: var(--paragraph-color);
}
table.dataTable.table-striped > tbody > tr.even > * {
  background-color: var(--back1-color);
  color: var(--paragraph-color);
}
table.dataTable thead th,
table.dataTable thead td {
  background-color: var(--back1-color);
  color: var(--header-color);
}
table.dataTable tfoot {
  display: none;
}

div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_wrapper div.dataTables_length select {
  background-color: var(--card-color);
  color: var(--paragraph-color);
}
.profile-content {
    position: absolute;
    top: 150px;
    left: 235px;
    width: 1447px
}
.dataTables_wrapper div.row > :nth-child(2) {
    display: flex;
    justify-content: end;
}
@media (max-width: 768px) {
    div .dataTables_wrapper div.dataTables_info {
        display: none;
    }

    #data-table_wrapper {
        overflow: auto;
    }
}

