body {
  background-color: var(--back2-color);
}
header {
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
  background-color: var(--back2-color);
}
main .image {
  text-align: center;
  padding-top: 6rem;
}
main .image img {
  width: 70%;
  max-height: 400px;
}
main .content {
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  background-color: var(--card-color);
  padding-bottom: 3rem;
  margin: 4rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 10px 0px;
}
main .content h1 {
  padding: 20px;
  border-bottom: 1px solid var(--lines-color);
  font-size: 25px;
  font-weight: 500;
  color: var(--header-color);
}
main .content p {
  padding: 20px;
  line-height: 1.8;
  font-size: 18px;
  color: var(--paragraph-color);
  margin-bottom: 2rem;
}
main .content .video {
  width: 100%;
  text-align: center;
}
main .content .video iframe {
  width: 80%;
  height: 400px;
}
@media (max-width: 768px) {
  main .content .video iframe {
    width: 90%;
    height: 300px;
  }
}
