@model UserRegisterVM

<div class="input-box">
    <label asp-for="UserName" ></label>
    <input asp-for="UserName" required/>
         <br />  
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>
<div class="input-box">
    <label asp-for="Email" ></label>
    <input asp-for="Email" required/>
    <br />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="input-box">
    <label asp-for="Password"></label>
    <input asp-for="Password" required />
    <br />     
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="input-box">
    <label asp-for="ConfirmPassword" ></label>
    <input asp-for="ConfirmPassword" required />
    <br />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
</div>

