@model CompanyRegisterVM

@{
    ViewData["Title"] = "CompanyRegister";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ALWASIT</title>

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="~/Css/all.min.css" />
    <!-- Link Global Style -->
    <link rel="stylesheet" href="~/Css/global.css" />
    <!-- Link Main Style -->
    <link rel="stylesheet" href="~/Css/loginStyle.css" />
</head>
<body>
    <div class="circle"></div>
    <div class="half-background"></div>
    <div class="container">
        <h1>ALWASIT</h1>
        <a asp-controller="Home" asp-action="Index" class="home">
            <i class="fa-solid fa-angle-left"></i>
            Home
        </a>

        <form asp-action="CompanyRegister" class="form">
            <h2>Company Register</h2>
             <p class="input-box">
                <a asp-controller="Account" asp-action="UserRegister">Register As User? Sign up</a>
            </p>

            <div asp-validation-summary="All" class="text-danger"></div>
            <br />
            <partial name="_RegisterPV" model="Model" />

            <div class="input-box">
                <label asp-for="CompanyName" ></label>
                <input asp-for="CompanyName" required />
                <br />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="CompanyDescription" ></label>
                <input asp-for="CompanyDescription" required />
                <br />
                <span asp-validation-for="CompanyDescription" class="text-danger"></span>
            </div>

            <div class="input-box mt-2">
                <button>submit</button>
            </div>
        </form>


    </div>

    <partial name="_ValidationScriptsPartial" />

</body>
</html>
