@model LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ALWASIT</title>

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="~/Css/all.min.css" />
    <!-- Link Global Style -->
    <link rel="stylesheet" href="~/Css/global.css" />
    <!-- Link Main Style -->
    <link rel="stylesheet" href="~/Css/loginStyle.css" />
</head>
<body>
    <div class="circle"></div>
    <div class="half-background"></div>
    <div class="container">
        <h1>ALWASIT</h1>
        <a asp-controller="Home" asp-action="Index" class="home">
            <i class="fa-solid fa-angle-left"></i>
            Home
        </a>

        <form asp-action="Login" class="form">
            <h2>Sign In</h2>

            <div asp-validation-summary="All" class="text-danger">

            </div>
            <br />
            <input type="hidden" asp-for="ReturnUrl" value="@ViewData["ReturnUrl"]" />

            <div class="input-box">
                <label asp-for="UserName" ></label>
                <input asp-for="UserName" required />
                <br />
                <br />
                <span asp-validation-for="UserName" ></span>
            </div>
            <div class="input-box">
                <label asp-for="Password" ></label>
                <input asp-for="Password" required />
                <br />
                <br />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @* <div class="input-box">
                    <input  asp-for="RememberMe" />
                    @Html.DisplayNameFor(model => model.RememberMe)
                
            </div> *@

            <div class="form-check d-flex align-items-center gap-2 ">
                <label asp-for="RememberMe" class="form-check-label mb-0"></label>
                <input asp-for="RememberMe" class="form-check-input" />
            </div>


            <div class="input-box mt-2">
                <button>submit</button>
            </div>

            <p class="input-box">
                <a asp-controller="Account" asp-action="UserRegister">Don't have an account? Sign up</a>
            </p>
        </form>

       
    </div>

    <partial name="_ValidationScriptsPartial" />

</body>
</html>



