@model UserRegisterVM

@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ALWASIT</title>

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="~/Css/all.min.css" />
    <!-- Link Global Style -->
    <link rel="stylesheet" href="~/Css/global.css" />
    <!-- Link Main Style -->
    <link rel="stylesheet" href="~/Css/loginStyle.css" />
</head>
<body>
    <div class="circle"></div>
    <div class="half-background"></div>
    <div class="container">
        <h1>ALWASIT</h1>
        <a asp-controller="Home" asp-action="Index" class="home">
            <i class="fa-solid fa-angle-left"></i>
            Home
        </a>

        <form asp-action="UserRegister" method="post" class="form">
            <h2>User Register</h2>
            <p class="input-box">
                <a asp-controller="Account" asp-action="CompanyRegister">Register As Company? Sign up</a>
            </p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <br />
            <partial name="_RegisterPV" model="Model" />
            <br />

            <div class="input-box mt-2">
                <button>submit</button>
            </div>
        </form>
    </div>

    <partial name="_ValidationScriptsPartial" />

</body>
</html>

