@* @model ApplicationUser *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="Welcome to my portfolio website. Here, you'll find a showcase of my latest works and projects, as well as a comprehensive list of my skills and services. Our team of experts is dedicated to delivering high-quality solutions that exceed your expectations. From web design and development to digital marketing and branding, we've got you covered. Browse through our portfolio and get in touch to discuss your next project." />
    <title>@ViewData["Title"] - ALWASIT</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="~/Css/swiper.min.css" asp-append-version="true" />
    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="~/Css/all.min.css" asp-append-version="true" />
    <!-- Link Global Style -->
    <link rel="stylesheet" href="~/Css/global.css" asp-append-version="true" />
    <!-- Link Main Style -->
    <link rel="stylesheet" href="~/Css/style.css" asp-append-version="true" />
    <!-- Link Admin Style -->
    <link rel="stylesheet" href="~/Css/admin.css" asp-append-version="true" />
    <!-- Link Arabic Style -->
    <link rel="stylesheet" class="ar-link" />

    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    <!-- DataTables Bootstrap 5 Styling (اختياري لتحسين المظهر مع bootstrap) -->
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- Toastr CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Toastr JS-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    @await RenderSectionAsync("Sheets", required: false)

</head>
<body>
    <!-- Start Header -->

    <header>
        <div class="container">
            <div class="burger-list">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1 class="logo">ALWASIT</h1>

            <ul class="nav-bar">

                <li><a class="navbar-brand active link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                <li><a href="#about" class="link">about</a></li>
                <li><a href="#service" class="link">service</a></li>
                <li><a href="#work" class="link">work</a></li>

                <!-- FIXED: Use lowercase "admin" to match your project -->
              

                <partial name="_IdentityPartial" />
            </ul>
            <div class="dark-mode">
                <i class="fa-solid fa-moon dark active"></i>
                <i class="fa-solid fa-sun light"></i>
            </div>
        </div>
    </header>

    <!-- End Header -->
    <!-- Start Home Section -->
    <section class="home" id="home">
        <div>
            <div class="sidebar">
                <ul class="mt-5">
                    <li class="active">
                        <a asp-controller="Account" asp-action="Profile">
                            <i class="fa-regular fa-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>

                    @if (User.IsInRole("admin"))
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="users">
                                <i class="fa-solid fa-users"></i>
                                <span>Manage Users</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Job" asp-action="GetAll">
                                <i class="fa-solid fa-briefcase"></i>
                                <span>Jobs</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="JobCategory" asp-action="GetAll">
                                <i class="fa-solid fa-tags"></i>
                                <span>JobCategory</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="AdminDashboard" asp-action="index">
                                <i class="fa-solid fa-user-shield"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="account" asp-action="prof">
                                <i class="fa-solid fa-user-shield"></i> Company
                            </a>
                        </li>
                    }

                    else if (User.IsInRole("employer"))
                    {
                        @* if (Model.CompanyIsAccepted)
                        { *@
                            <li>
                                <a asp-controller="Job" asp-action="GetAll">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span>Jobs</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="JobCategory" asp-action="GetAll">
                                    <i class="fa-solid fa-tags"></i>
                                    <span>JobCategory</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="JobApplication" asp-action="Applicants">
                                    <i class="fa-solid fa-users"></i> Applicantion
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="CompanyDashboard" asp-action="index">
                                    <i class="fa-solid fa-chart-line"></i> DashboardCom
                                </a>
                            </li>
                        @* } *@
                      
                    }
                    else if (User.IsInRole("job Seeker"))
                    {
                        <li>
                            <a asp-controller="JobApplication" asp-action="MyApplications">
                                <i class="fa-solid fa-file-contract me-2"></i>
                                My Applications
                            </a>
                        </li>
                    }
                    
                    @if (User.IsInRole("employer"))
                    {
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="JobApplication" asp-action="Applicants">
                                <i class="fa-solid fa-users"></i> Applicantion
                            </a>
                        </li> *@
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="EmployerDashboard" asp-action="index">
                                <i class="fa-solid fa-chart-line"></i> Dashboard
                            </a>
                        </li> *@
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="CompanyDashboard" asp-action="index">
                                <i class="fa-solid fa-chart-line"></i> DashboardCom
                            </a>
                        </li> *@
                    }
                    <!-- 🔹 لو المستخدم Admin -->
                    @* @if (User.IsInRole("admin") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="AdminDashboard" asp-action="index">
                                <i class="fa-solid fa-user-shield"></i> Dashboard
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("admin") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="account" asp-action="prof">
                                <i class="fa-solid fa-user-shield"></i> Company
                            </a>
                        </li>
                    } *@



                </ul>
            </div>
        </div>

        <div class="profile-content">
            @RenderBody()
        </div>
    </section>
    <!-- End Home Section -->

    <partial name="_NotifyPartil" />

    <!-- Main JS -->
    <script src="~/Js/main.js"></script>
    <!-- Admin Js File -->
    <script src="~/Js/admin.js"></script>
    <!-- Swiper JS -->
    <script src="~/Js/swiper.min.js"></script>
    <!-- Main JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- DataTables Bootstrap 5 Integration -->
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>