@model JobAndCategoriesVM

@{

    SelectList selectListItems = new SelectList(Model.Categories, "Id", "Name");
}

<div class="container-md">
    <div class="row">

        <div class="form-group col-6 mb-2 ">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group col-6 mb-2 ">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-6 mb-2">
            <label asp-for="Requirements" class="control-label"></label>
            <input asp-for="Requirements" class="form-control" />
            <span asp-validation-for="Requirements" class="text-danger"></span>
        </div>
        <div class="form-group col-6 mb-2">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group col-6 mb-2">
            <label asp-for="Experience" class="control-label"></label>
            <input asp-for="Experience" class="form-control" />
            <span asp-validation-for="Experience" class="text-danger"></span>
        </div>
        <div class="form-group col-6 mb-2">
            <label asp-for="Salary" class="control-label"></label>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="form-group col-6 mb-2">
            <label asp-for="ExpiryDate" class="control-label"></label>
            <input asp-for="ExpiryDate" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
        </div>

        @* <div class="form-group col-6 mb-2 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div> *@
        <div class="form-group col-6 mb-2">
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-select" asp-items="selectListItems">
                <option value="0" disabled selected>-- Select Category --</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>
</div>
